<div class="container center col s12 m12">
  <br>
<wired-card elevation="5" class="wired-card">
  <img src="/images/error.png" width="300"/>
  <h2>🤯 Lo sentimos, no encontramos lo que buscabas</h2>
</wired-card>

</div>