body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
}

a {
  color: #00B7FF;
}

ul li{
  display: inline;
}

.red {
  background: #f5a5a8
}

.title {
  font-size: 50px;
}