<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 offset-m4 m4">
        <h2>Menú para hoy: </h2>

        {{#if err}}
        <h5 class="deep-orange-text accent-3">{{err}}</h5>
        {{/if}}

        <form action="/fondas/new-menu" method="POST">
          <p>
            <wired-input type="text" name="mainOne" placeholder="1er plato fuerte" onchange="document.getElementById('mainOne').value = this.value"></wired-input>
            <input type="hidden" id="mainOne" name="mainOne">
          </p>

          <p>
            <wired-input type="text" name="mainTwo" placeholder="2do plato fuerte" onchange="document.getElementById('mainTwo').value = this.value"></wired-input>
            <input type="hidden" id="mainTwo" name="mainTwo">
          </p>

          <p>
            <wired-input type="text" name="mainThree" placeholder="3er plato fuerte" onchange="document.getElementById('mainThree').value = this.value"></wired-input>
            <input type="hidden" id="mainThree" name="mainThree">
          </p>
          
          <p>
            <wired-button class="color-orange" onclick="document.forms[0].submit()">¡Listo el menú de hoy!</wired-button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>



